<!DOCTYPE html>
<html xmlns:th="https://www.thymleaf.org">
<head>
	<meta charset="ISO-8859-1" name="viewport" content="width=device-width, initial-scale=1">
	<title>Braintree Payment</title>
	<!-- link rel="stylesheet" href="css/momentum-ui.min.css"-->
</head>
<body>
	<script type="module" src="external/payment/payment-external-bundle.js"></script>
	<h4>Payment Service</h4>
	<customer-payment serviceUrl="https://ccaipayassist.pstestsite.com" profile="braintree"></customer-payment>
</body>
</html>